@use "sass:color";

$widget_bg: rgba(0, 0, 0, 0.7);
$fg: #cdd6f4;
$accent: #89b4fa;
$radius: 1em;
$shadow: 0 -0.15em 0 0 inset;

$widget_padding: 0.8em;
$widget_padding_end: 1.5em;
$widget_radius: 0 0 8em 8em;
$widget_bottom: 0.15em solid;

* {
  all: unset;
}

window.Bar {
  font-size: 1em;
  font-weight: bold;
  color: $fg;
  background-color: transparent;
  border: none;
  border-radius: 0 0 $radius $radius;
  box-shadow: none;

  label {
    margin: 0 0.1em 0 0.1em;
    transition-duration: 600ms;
  }

  box {
    transition-duration: 400ms;
    transition-timing-function: linear;
  }

  .Workspaces  {
    background-color: $widget_bg;
    padding-left: $widget_padding;
    padding-right: $widget_padding;
    border-radius: $widget_radius;
    border-bottom: $widget_bottom $fg;

    button {
      margin: 0 0.2em 0 0.2em;
      padding: 0;
    }

    .BarWSFocused {
      box-shadow: 0 0.15em 0 0 inset;
      padding: 0.15em 0 0 0;
    }

    .BarWSBoxSingle {
      margin: 0.2em 0 0.2em 0;
      padding: 0 0 0 0.65em;
      border: 0.1em solid;
      border-radius: $radius;
      min-width: 1.7em;
    }

    .BarWSBoxMulti {
      margin: 0.2em 0 0.2em 0;
      padding: 0 0.5em 0 0.65em;
      border: 0.1em solid;
      border-radius: $radius;
    }

    .BarWSBox {
      margin: 0.5em 0 0.5em 0;
      border: 0.15em solid;
      border-radius: $radius;
      min-width: 1em;
    }

    .BarClientFocused {
      color: $accent;
    }
  }

  .Focused {
    font-weight: normal;
    background-color: $widget_bg;
    padding-left: $widget_padding;
    padding-right: $widget_padding;
    border-bottom: $widget_bottom;
    border-radius: 0;
  }

  .Time {
    background-color: $widget_bg;
    padding-left: $widget_padding;
    padding-right: $widget_padding_end;
    border-radius: 0 0 8em 0;
    border-bottom: $widget_bottom;
  }

  .Wifi {
    background-color: $widget_bg;
    padding-left: $widget_padding_end;
    padding-right: $widget_padding;
    border-radius: 0 0 0 8em;
    border-bottom: $widget_bottom;
  }

  .Battery {
    background-color: $widget_bg;
    padding-left: $widget_padding;
    padding-right: $widget_padding;
    border-radius: 0;
    border-bottom: $widget_bottom;
  }
  
  .Brightness {
    background-color: $widget_bg;
    padding-left: $widget_padding;
    padding-right: $widget_padding;
    border-radius: 0;
    border-bottom: $widget_bottom;
  }

  .AudioSlider {
    background-color: $widget_bg;
    padding-left: $widget_padding;
    padding-right: $widget_padding;
    border-radius: 0;
    border-bottom: $widget_bottom;
    
    trough {
      background-color: #585b70;
      min-height: .8em;
      border-radius: $radius;
    }

    highlight {
      background-color: $accent;
      min-height: 0.8em;
      border-radius: $radius 0 0 $radius;
    }

    slider {
      background-color: $fg;
      border-radius: $radius;
      min-height: 0.8em;
      min-width: 0;
      margin: -0.2em;
    }
  }
  
  .Swaync {
    background-color: $widget_bg;
    padding-left: $widget_padding;
    padding-right: $widget_padding;
    border-radius: 0;
    border-bottom: $widget_bottom;
  }

  .SysTray {
    background-color: $widget_bg;
    margin-right: 0;
    padding-left: $widget_padding;
    padding-right: 0;
    border-radius: 0;
    border-bottom: $widget_bottom;

    button {
      padding: 0 0.3em;
    }
  }
}
