* {
	background-image: none;
	background-repeat: no-repeat;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.7);
    background-image: image(url("/home/sheric/Pictures/.logout/kawaii.png"));
	background-position: 180% 20%;
}

grid {
	padding: 100px 650px 100px 0px;
}

button {
	border-radius: 70px;
	border-color: rgba(144, 134, 143, 1) rgba(144, 134, 143, 1) rgba(78, 76, 87, 1) rgba(78, 76, 87, 1);
	border-style: solid;
	border-width: 8px;

	/*background-color: rgba(61, 54, 67, 0.9);*/
	background-color: rgba(45, 43, 56, 0.9);
	background-position: 50% 50%;
	background-size: 50%;

	margin: 20px;
}

button:hover {
	border-radius: 100px;
}

button:focus {
    box-shadow: inset 0px 0px 16px 8px rgba(246, 222, 244, 1);
}

/*
button:active {
	border-radius: 80px;
	border-color: #a9b7c6;
	border-style: inset;
	border-width: 6px;
}
*/

#lock {
    background-image: image(url("/home/sheric/Pictures/.logout/Lock-L.png"));
}

#logout {
    background-image: image(url("/home/sheric/Pictures/.logout/Logout-O.png"));
}

#suspend {
    background-image: image(url("/home/sheric/Pictures/.logout/Suspend-S.png"));
}

#hibernate {
    background-image: image(url("/home/sheric/Pictures/.logout/Hibernate-H.png"));
}

#reboot {
    background-image: image(url("/home/sheric/Pictures/.logout/Reboot-R.png"));
}

#shutdown {
    background-image: image(url("/home/sheric/Pictures/.logout/Shutdown-D.png"));
}
